.page-dashboard {
    .panel-box {
        position: relative;
        border-radius: $border-radius-large;

        .panel-top,
        .panel-bottom {
            height: 200px;
            padding: 69px 15px;
            font-size: 55px;
            line-height: 1;

            /*span {
                font-size: 14px;
            }*/
        }

        .panel-bottom {
            border-top: 1px solid #dfdfdf;
        }

        .panel-info {
            position: absolute;
            width: 100%;
            top: 46%;
            margin-top: -12px;
            text-align: center;

            span {
                height: 48px;
                display: inline-block;
                padding: 16px 10px;
                text-transform: uppercase;
                line-height: 14px;
                background-color: #fff;
                border: 1px solid #dfdfdf;
                font-size: 14px;
                color: $text-muted;
                border-radius: 2em;
                &:hover {color: $brand-primary;}
            }
            
        }
    }

    .table {
        > tbody > tr > td {
            vertical-align: middle;
        }
    }

    #admin-edit {

            &:hover {
                cursor: pointer;
            }
    }
}
