<div class="page page-tasks"> <!-- Task List -->
    <div class="row">
        <div class="col-md-12">
            <section class="task-container" data-ng-controller="addCtrl">

                <form data-ng-submit="add()" class="add-task">
                    <input type="text"
                           placeholder="Question"
                           class="form-control"
                           data-ng-model="newTask"
                           autofocus>
                    <a type="submit" class="submit-button" data-ng-click="add()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </form>

                <!--<section>
                    <ul class="filters list-inline nav nav-tabs">
                        <li data-ng-class="{active: statusFilter == ''}">
                            <a href="" 
                               data-toggle="tab"
                               data-ng-click="filter('all')"
                               >All</a>
                        </li>
                        <li data-ng-class="{active: statusFilter.completed == true }">
                            <a href=""
                               data-toggle="tab"
                               data-ng-click="filter('completed')"
                               >Completed</a>
                        </li>
                    </ul>
                </section>-->

                <section  data-ng-cloak>
                    <ul class="task-list list-unstyled">
                        <li data-ng-repeat="task in tasks | filter:statusFilter track by $index" 
                            data-ng-class="{completed: task.completed, editing: task == editedTask}">
                            <span class="view">
                                <input type="checkbox"
                                       class="toggle-task"
                                       data-ng-model="task.completed"
                                       data-ng-change="completed(task)">
                                <label data-ng-dblclick="edit(task)">{{task.title}}</label>
                                <span class="glyphicon glyphicon-pencil"
                                      data-ng-click="edit(task)"></span>
                                <span class="glyphicon glyphicon-remove"
                                      data-ng-click="remove(task, $index)"
                                      ></span>
                            </span>
                            <form data-ng-submit="doneEditing(task, $index)">
                                <input type="text"
                                       class="edit form-control"
                                       data-ng-trim="false"
                                       data-ng-model="task.title"
                                       data-ng-blur="doneEditing(task, $index)"
                                       data-task-focus="task == editedTask">
                            </form>
                        </li>
                    </ul>
                </section>

                <footer class="task-footer">
                    <ul class="list-inline clearfix">
                        <li class="first-item">
                            <input type="checkbox"
                                   id="toggle-all"
                                   data-ng-model="allChecked"
                                   data-ng-change="markAll(allChecked)">
                            <label for="toggle-all">Mark all as done</label>
                        </li>
                        <li class="text-center">
                            <span>
                                <strong>{{remainingCount}}</strong>
                                <span class="text-muted"
                                      data-ng-pluralize count="remainingCount"
                                      when="{one: 'item left', other: 'items left'}"></span>
                            </span>                            
                        </li>
                        <li class="text-right">
                            <span class="clear-completed"
                                  data-ng-click="clearCompleted()"
                                  data-ng-show="remainingCount < tasks.length">Clear completed ({{tasks.length - remainingCount}})</span>                            
                        </li>
                    </ul>
                </footer>
                
            </section>
        </div>
    </div>

    <div class="callout callout-info">
        <p>Tips:</p>
        <p> - Double click the task (or click the edit icon on the right of the task) to edit, then click anywhere else done editing.</p>
        <p> - Type a something needs to done, then press "return" key (or the plus icon on the left) to add a new task</p>
        <p> - Click the remove icon on the right of the task to remove</p>
    </div>
</div>

<!-- Tree -->
<div class="page" data-ng-controller="TreeDemoCtrl">


    <div class="row">
        <div class="col-md-6">

            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Nested Lists</strong></div>
                <div class="panel-body">
                    <div ui-tree="options">
                        <ol ui-tree-nodes ng-model="list" >
                            <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
                        </ol>
                    </div>
                </div>
            </section> 

        </div>
        <div class="col-md-6">

            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Serialised Output</strong></div>
                <div class="panel-body">
                    <pre class="text-muted">{{list}}</pre>
                </div>
            </section> 

        </div>
    </div>


    <script type="text/ng-template" id="items_renderer.html">
        <div class="angular-ui-tree-handle">
            <span>{{item.items}}</span>
        </div>
    </script>

    <script type="text/ng-template" id="items_renderer.html">
        <div class="angular-ui-tree-handle">
            <span data-ng-show="item.items.length > 0"><a class="angular-ui-tree-icon" data-nodrag ng-click="toggle(this)">
                <span class="angular-ui-tree-icon-collapse" ng-class="{'collapsed': collapsed, 'uncollapsed': !collapsed}"></span>
            </a></span>
            {{item.title}}
            <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action" data-nodrag ng-click="remove(this)"><span class="fa fa-times"></span></a>
            <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action" data-nodrag ng-click="newSubItem(this)"><span class="fa fa-plus"></span></a>
        </div>
        <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
            <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
            </li>
        </ol>
    </script>

</div>


<!-- Ryan's Form -->
<form>
	<div class="form-group">
		<label class="col-sm-2" for="">Video Name</label>
		<div class="col-sm-10">
			<input class="form-control" type="text">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2" for="">Video Link</label>
		<div class="col-sm-10">
			<input class="form-control" type="text">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10">Does this video have a quiz?</div>
		<div class="col-sm-2">
			<label class="ui-switch"><input checked="" type="checkbox">
			<i></i> 		
			</label>
		</div>
	</div>