<div class="page" ng-controller="SkillSetCtrl">

    <div class="ui-timline-container">
        <section class="ui-timeline">
            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-caption">
                            <a href="javascript:;" class="btn btn-dark btn-block" style="background-color:#005B96;">Start</a>
                        </div>
                    </div>
                </div>
            </article>

            <article ng-class="$even ? 'tl-item' : 'tl-item alt'" ng-repeat="skillset in skillsets">
                <div class="tl-body">
                    <div class="tl-entry">
                        <a href="/images/04_HelloWorld.pdf"><div ng-show="skillset.Progress == 100" class="tl-icon btn-icon-round btn-icon btn-icon-md btn-info"><i class="ti-check"></i></div></a>
                        <div ng-show="skillset.Progress < 100" class="tl-icon btn-icon-round btn-icon btn-icon-md btn-success" style="background-color:#7992BF;"><i class="ti-medall"></i></div>

                        <div class="tl-content">
                            <h4 class="tl-tile text-primary">{{ skillset.Name }}</h4>
                            <a href="/images/Engine_Diagnostics_Certificate.pdf"><div class="btn btn-primary" style="margin-top:20px;" ng-if="skillset.Progress == 100">Print Certificate</div></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-caption">
                            <a href="javascript:;" class="btn btn-danger btn-block">Finish</a>
                        </div>
                    </div>
                </div>
            </article>


        </section>
    </div>

</div>
