<div class="page page-dashboard" ng-controller="dealershipCtrl">
    <h1>{{ currentDealership.Name }}</h1>
      <div class="panel panel-default">
          <div class="panel-body table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Employee</th>
                          <th popover="How are my employees doing" popover-trigger="mouseenter">Progress</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="employee in detailPageEmployees">
                          <td><a href="#/employees/{{ employee.Id }}">{{ employee.FirstName }} {{ employee.LastName }}</a></td>
                          <td>
                              <progressbar class="progressbar-xs no-margin" value="employee.QuizzesProgress"></progressbar>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <button type="button" ng-click="deleteDealership(dealership.Id)" class="btn btn-danger btn-block" style="max-width:800px; margin:0 auto;">Delete this Dealership</button>
</div>
