<div class="page page-dashboard" ng-controller="dealershipCtrl">
    <h1>{{ currentDealership.Name }}</h1>
      <div class="panel panel-default">
          <div class="panel-body table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Employee</th>
                          <th popover="How are my employees doing" popover-trigger="mouseenter">Progress</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="employee in detailPageEmployees">
                          <td><a href="#/employees/{{ employee.Id }}">{{ employee.FirstName }} {{ employee.LastName }}</a></td>
                          <td>
                              <progressbar class="progressbar-xs no-margin" value="employee.QuizzesProgress"></progressbar>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <button type="button" class="btn btn-danger btn-block" ng-click="open()" style="max-width:800px; margin: 0 auto;">Delete Dealership</button>
      <script type="text/ng-template" id="confirmation.html">
        <div class="modal-header">
            <h3>Are you sure you want to delete this dealership?</h3>
        </div>
        <div class="modal-body">
            <p>Please confirm that you want to delete this dealership.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="deleteDealership(currentDealership)">Delete</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
      </script>
</div>
