<div class="page page-dashboard" ng-controller="employeeCtrl">

{{ employee.firstName }} {{ employee.lastName }}

<!--Dealership/Employee Table-->
<div class="panel panel-default">
    <div class="panel-body table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Video</th>
                    <th>Progress</th>
                    <th>Complete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="video in videos">
                    <td>{{ video.title }}</td>
                    <td>{{ video.progress }}</td>
                    <td>{{ video.isComplete )}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /Dealership/Employee Table --> 

<!--Badges-->
        <div class="row" ng-controller="BadgeCtrl">
       <!-- Stats -->
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box" ng-click="goToSkillSet()">
                <div class="panel-top">
                    <span class="ti-star color-success"></span>
                </div>
                <div class="panel-info">
                    <span data-translate="PHASE 1 DIAGNOSTICS"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <!--<span>100 <span class="size-h4">%</span></span>-->
                    <span class="ti-cup color-warning"></span>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <i class="ti-stats-up color-info"></i>
                </div>
                <div class="panel-info">
                    <span data-translate="PHASE 2 DIAGNOSTICS"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <span>22 <span class="size-h4">%</span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <i class="ti-stats-up color-info"></i>
                </div>
                <div class="panel-info">
                    <span data-translate="PHASE 3 DIAGNOSTICS"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <span>37 <span class="size-h4">%</span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <i class="ti-key" style="color:#7992BF"></i>
                </div>
                <div class="panel-info">
                    <span data-translate="PHASE 4 DIAGNOSTICS"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <!--<span>21 <span class="size-h4">%</span></span>-->
                    <span class="ti-medall" style="color:#7992BF"></span>
                </div>
            </div>
        </div>
        <!-- end stats -->          
    </div>




</div>
  
  