<div class="page-err err-500">
    <div class="err-container" style="background-color: #ED174B;">
        <div class="text-center">
            <div class="err-status">
                 <h1>Almost!</h1>
            </div>
            <div class="err-message" style="background-color: #ED174B">
                <h2>Try {{ videoName }} Again</h2>
            </div>
            <div class="err-body">
                <a href="#/" class="btn btn-lg btn-goback">
                    <span class="glyphicon glyphicon-facetime-video"></span>
                    <span class="space"></span>
                    Watch Video Again
                </a>
            </div>
        </div>
    </div>

</div>

    <div class="footer text-center" style="margin-top:20px;">
        <a>Return to Progress</a>
    </div>

