<header class="top-header clearfix">

    <!-- Logo -->
    <div class="logo"
         ng-class="{ 'bg-dark': ['11','31'].indexOf(admin.skin) >= 0,
                     'bg-white': admin.skin === '21',
                     'bg-primary': ['12','22','32'].indexOf(admin.skin) >= 0,
                     'bg-success': ['13','23','33'].indexOf(admin.skin) >= 0,
                     'bg-info-alt': ['14','24','34'].indexOf(admin.skin) >= 0,
                     'bg-warning': ['15','25','35'].indexOf(admin.skin) >= 0,
                     'bg-danger': ['16','26','36'].indexOf(admin.skin) >= 0,
                    }">
        <a href="#/">
            <span class="logo-text">{{main.brand}}</span>

        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min
                             class="toggle-min"
                             ><i class="ti-menu"></i></a>
            </li>
            
        </ul> 

        <ul class="nav-right pull-right list-unstyled">

            <li class="dropdown text-normal nav-profile" dropdown is-open="status.isopenProfile">
                <a href="javascript:;" dropdown-toggle ng-disabled="disabled">
                    <img src="/images/icon__wrench.png" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span data-translate="Shaun"></span>
                    </span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right">
                    <li>
                        <a href="#/pages/profile">
                            <i class="ti-user"></i>
                            <span>UPDATE MY PROFILE</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/app/tasks">
                            <i class="ti-check-box"></i>
                            <span>VIEW CERTIFICATES</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/pages/lock-screen">
                            <i class="ti-lock"></i>
                            <span>REQUEST CLOSURE</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/pages/lock-screen">
                            <i class="ti-arrow-left"></i>
                            <span>REQUEST TRANSFER</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown langs text-normal">
                <a href="javascript:;" class="active-flag" dropdown-toggle ng-disabled="disabled">
                    <p>Log Out</p>
                </a>
            </li>
        </ul>
    </div>

</header>
