<header class="top-header clearfix" ng-controller="headerCtrl">

    <!-- Logo -->
    <div class="logo"
         ng-class="{ 'bg-dark': ['11','31'].indexOf(admin.skin) >= 0,
                     'bg-white': admin.skin === '21',
                     'bg-primary': ['12','22','32'].indexOf(admin.skin) >= 0,
                     'bg-success': ['13','23','33'].indexOf(admin.skin) >= 0,
                     'bg-info-alt': ['14','24','34'].indexOf(admin.skin) >= 0,
                     'bg-warning': ['15','25','35'].indexOf(admin.skin) >= 0,
                     'bg-danger': ['16','26','36'].indexOf(admin.skin) >= 0,
                    }">
        <a href="#/">
            <span class="logo-text"><img src="http://novotempoconsorcio.com.br/assets/img/lstractor.png" width="70%" /></span>

        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <!-- <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div> -->

    <div class="top-nav">
        <!-- <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min
                             class="toggle-min"
                             ><i class="ti-menu"></i></a>
            </li>

        </ul> -->

        <ul class="nav-right pull-right list-unstyled">

            <li class="dropdown text-normal nav-profile" dropdown is-open="status.isopenProfile">
                <a>
                    <!-- <img src="/images/icon__user.png" alt="" class="img-circle img30_30"> -->
                    <span class="text-normal">
                        <span data-translate="{{main.name}}">Hello, {{main.name}}</span>
                    </span>

                </a>

            </li>
            <li class="dropdown langs text-normal">
                <a href="/#/pages/signin" ng-click="logout()" class="active-flag" dropdown-toggle>
                    <p>Log Out</p>
                </a>
            </li>
        </ul>
    </div>

</header>
