<header class="top-header clearfix" ng-controller="headerCtrl">

    <!-- Logo -->
    <div class="logo bg-white">
        <a href="#/dashboard">
            <span class="logo-text"><img src="http://novotempoconsorcio.com.br/assets/img/lstractor.png" height="50%" width="auto" /></span>

        </a>
    </div>
    <div class="top-nav">
        <ul class="nav-right pull-right list-unstyled">

            <li class="dropdown text-normal nav-profile" dropdown is-open="status.isopenProfile">
                <a>
                    <!-- <img src="/images/icon__user.png" alt="" class="img-circle img30_30"> -->
                    <span class="text-normal">
                        <span data-translate="{{main.name}}">Hello, {{main.name}}</span>
                    </span>

                </a>

            </li>
            <li class="dropdown langs text-normal">
                <a href="/#/pages/signin" ng-click="logout()" class="active-flag" dropdown-toggle>
                    <p>Log Out</p>
                </a>
            </li>
        </ul>
    </div>

</header>
