        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title">
            <span>NAVIGATION</span>
        </li>
        <li><a href="#/dashboard"> <i class="ti-stats-up"></i><span>Progress</span></a></li>
        <li>
            <a href="#pages/skill-set"><i class="ti-medall"></i><span>Skill Sets</span></a>
            <!--<ul>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="Skill Set 1"></span></a></li>
            </ul>-->
        </li>
        <li>
            <a href="#/pages"><i class="ti-lock"></i><span>Login</span></a>
            <ul>
                <li><a href="#/pages/signin"><i class="ti-angle-right"></i><span>SIGN IN</span></a></li>
                <li><a href="#/pages/signup"><i class="ti-angle-right"></i><span>SIGN UP</span></a></li>
                <li><a href="#/pages/forgot-password"><i class="ti-angle-right"></i><span>FORGOT PASSWORD</span></a></li>
            </ul>
        </li>
    </ul>
</div>