        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title">
            <span>NAVIGATION</span>
        </li>
        <li><a href="#/dashboard"> <i class="ti-stats-up"></i><span>Progress</span></a></li>
        <li><a href="#/pages/profile"><i class="ti-user"></i><span>Profile</span></a></li>
        <li><a href="#/pages/lock-screen"><i class="ti-close"></i><span>Request Closure</span></a></li>
        <li><a href="#/app/tasks"><i class="ti-check-box"></i><span>View Certificates</span></a></li>
        <li><a href="#/pages/lock-screen"><i class="ti-arrow-left"></i><span>Request Transfer</span></a></li>



        <li>
            <!--<a href="#pages/skill-set"><i class="ti-medall"></i><span>Skill Sets</span></a>-->
            <!--<ul>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="Skill Set 1"></span></a></li>
            </ul>-->
        </li>
        <!--<li>
            <a href="#/pages"><i class="ti-lock"></i><span>Login</span></a>
            <ul>
                <li><a href="#/pages/signin"><i class="ti-angle-right"></i><span>Sign In</span></a></li>
                <li><a href="#/pages/signup"><i class="ti-angle-right"></i><span>Sign Up</span></a></li>
                <li><a href="#/pages/forgot-password"><i class="ti-angle-right"></i><span>Forgot Password</span></a></li>
            </ul>
                            <ul class="dropdown-menu with-arrow pull-right">
                </ul>
        </li>-->
    </ul>
</div>