<div class="page page-dashboard">
  <!-- <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-xsm-12">
      <button type="submit" class="btn btn-success btn-lg pull-right" ng-click="addSkillSet()">Add a Skill Set</button>
        <script type="text/ng-template" id="skillSetModal.html">
                <div class="modal-header">
                    <h3>Add a Skill Set</h3>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" ng-model="skillSet.name">
                    <span class="help-block">Skill Set Title</span>
                </div>
                <div class="modal-footer">
                <button class="btn btn-primary" ng-click="uploadSkillSet()">Upload</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
  </div> -->

  
  <div class="row" ng-controller="SkillSetCtrl">
    <div class="col-lg-4 col-md-4 col-xs-12 col-xsm-12" ng-repeat="skillset in skillsets">

          <!-- ADMIN VIEW FOR SKILLSETS -->
          <section class="panel panel-box" ng-if="main.user.Role == 6">
              <div class="panel-heading bg-primary clearfix text-left">
                <div style="height:20px;"></div>
                <span class="ng-binding h4">{{ skillset.Name }}</span>
                <span style="display: block;margin-top:18px;"><a class="btn btn-default btn-md btn-w-md" style="background-color: #011E45; border-color:#011E45; color: #FFFFFF;" type="button" href="#/pages/skill-set-details/{{ skillset.Id }}">Open</a></span>
                <div style="height:20px;"></div>
              </div>
              <!-- <div class="panel-top bg-primary" data-ng-class="{editing: editing == 'SkillSetName', editable-field: editing}">
                  <a style="text-decoration: none;" href="#/pages/skill-set-details/{{ skillset.Id }}" ng-disabled="editing">
                    <div class="text-left h2"> {{ skillset.Name }}</div>
                    <span class="field-editor" ng-show="editing">
                        <form data-ng-submit="doneEditing()">
                            <input data-ng-model="currentAccount.LastName" type="text" class="form-control">
                        </form>
                    </span>
                  </a>
              </div> -->
              <!-- <div class="panel-icon bg-success">
                  <i class="wi wi-day-cloudy"></i>
              </div> -->
              <div class="panel-bottom bg-reverse" style="border-top: none !important;">
                  <ul id="admin-edit" class="list-justified text-center v-center">
                      <li ng-click="open()">
                          <p class="color-primary h3">
                            <i class="fa fa-video-camera" aria-hidden="true"></i>
                          </p>
                          <p class="text-muted h5" style="margin-top: 10px;">Add Video</p>
                      </li>
                      <li ng-click="updateSkillSet()">
                          <p class="color-warning h3">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          </p>
                          <p class="text-muted h5" style="margin-top: 10px;" ng-click="editSkillSet()">Edit Details</p>
                      </li>
                      <li ng-click="goToCertificates()">
                          <p class="color-success h3">
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                          </p>
                          <p class="text-muted h5" style="margin-top: 10px;">Certificates</p>
                      </li>
                      <li ng-click="deleteSkillSet(skillset.Id,$index)">
                          <p class="color-danger h3">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                          </p>
                          <p class="text-muted h5" style="margin-top: 10px;">Delete</p>
                      </li>
                  </ul>
              </div>
          </section>

          <!-- DEALERSHIP AND TECHNICIAN VIEW FOR SKILLSETS -->
          <section class="panel panel-box" ng-if="main.user.Role == 4 || main.user.Role == 5">
              <div class="panel panel-profile text-left">
                <div class="panel-heading bg-primary clearfix">
                  <div style="height:20px;"></div>
                  <span class="ng-binding h3">{{ skillset.Name }}</span>
                  <span style="display: block;margin-top:18px;"><a class="btn btn-default btn-md btn-w-md" style="background-color: #011E45; border-color:#011E45; color: #FFFFFF;" type="button" href="#/pages/skill-set-details/{{ skillset.Id }}">Open</a></span>
                  <div style="height:20px;"></div>
                </div>
              <ul class="list-group">
                <li class="list-group-item">
                    <i class="ti-stats-up"></i>
                    Your Progress
                    <div class="progressbar-sm progress-rounded progress ng-isolate-scope" value="{{skillset.Progress}}" type="success" style="width: 50%;float: right;">
                        <span class="progress-bar progress-bar-success" ng-class="type && 'progress-bar-' + type" role="progressbar" aria-valuenow="{{skillset.Progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (skillset.Progress < 6 ? 6 : skillset.Progress)  + '%'}" aria-valuetext="{{skillset.Progress}}%" style="min-width: 0px;" ng-transclude=""></span>
                    </div>
                </li>
              </ul>
              <ul class="list-group" ng-repeat="quiz in skillset.Quizzes">
                <li class="list-group-item">
                  <span ng-show="quiz.Status == 1" class="badge badge-danger">Not Started</span>
                  <span ng-show="quiz.Status == 2" class="badge badge-warning">In Progress</span>
                  <span ng-show="quiz.Status == 3" class="badge badge-success">Complete</span>
                  <i class="glyphicon glyphicon-facetime-video"></i>
                  {{quiz.Video.Title}}
                </li>
              </ul>
            </div>
          </section>
    </div>

    <!-- Add Skill Set Modal  -->
    <div class="col-lg-12">
      <button type="submit" class="btn btn-primary btn-block btn-lg" ng-click="addSkillSet()">Add a Skill Set</button>
        <script type="text/ng-template" id="skillSetModal.html">
                <div class="modal-header">
                    <h3>Add a Skill Set</h3>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" ng-model="skillSet.name">
                    <span class="help-block">Skill Set Title</span>
                    <section class="panel panel-default">
                        <div class="panel-body">
                            <input type="file" title="Choose File" data-ui-file-upload>
                        </div>
                    </section>
                    <span class="help-block">Upload Certificate PDF</span>
                </div>
                <div class="modal-footer">
                <button class="btn btn-primary" ng-click="uploadSkillSet()">Upload</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
          </script>
    </div>
    <div class="col-lg-12" style="height:20px;"></div>  

    <!-- Add Video Modal -->
    <script type="text/ng-template" id="addVideo.html">
        <div class="modal-header">
            <h3>Add a Video</h3>
        </div>
        <div class="modal-body page-tasks">
            <input type="text" class="form-control" ng-model="video.name">
            <span class="help-block">Video Title</span>
            <input type="text" class="form-control" ng-model="video.author">
            <span class="help-block">Author</span>
            <input type="text" class="form-control" ng-model="video.url">
            <span class="help-block">URL</span>
            <hr>
            <span class="help-block">Does this Video Have a Quiz?</span><label class="ui-switch"><input type="checkbox" ng-model="quiz"><i></i></label>
            <div ng-show="quiz">
                <div ng-controller="taskCtrl">
                    <form data-ng-submit="add()" class="add-task">
                        <input type="text" placeholder="Add a Question" class="form-control" data-ng-model="newTask" autofocus>
                        <a type="submit" class="submit-button" data-ng-click="add()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </form>
                    <section data-ng-cloak>
                        <ul class="task-list list-unstyled">
                            <li data-ng-repeat="task in tasks | filter:statusFilter track by $index" data-ng-class="{completed: task.completed, editing: task == editedTask}">
                                <span class="view">
                                            <input type="checkbox"
                                                class="toggle-task"
                                                data-ng-model="task.completed"
                                                data-ng-change="completed(task)">
                                            <label data-ng-dblclick="edit(task)">{{task.title}}</label>
                                            <span class="glyphicon glyphicon-pencil"
                                                data-ng-click="edit(task)"></span>
                                            <form data-ng-submit="addAnswer()" class="add-task">
                                                <input type="text" placeholder="Add an Answer" class="form-control" data-ng-model="newAnswer" autofocus>
                                                <a type="submit" class="submit-button" data-ng-click="addAnswer()">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </a>
                                            </form>
                                <span class="glyphicon glyphicon-remove" data-ng-click="remove(task, $index)"></span>
                                </span>
                                <form data-ng-submit="doneEditing(task, $index)">
                                    <input type="text" class="edit form-control" data-ng-trim="false" data-ng-model="task.title" data-ng-blur="doneEditing(task, $index)"
                                        data-task-focus="task == editedTask">
                                </form>
                            </li>
                        </ul>
                    </section>
                </div>
                
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="uploadVideo()">Upload</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script> 

    <!-- Edit Skill Set Modal -->
    <script type="text/ng-template" id="editSkillSet.html">
        <div class="modal-header">
            <h3>Edit SkillSet</h3>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control" ng-model="skillset.name">
            <span class="help-block">Skill Set Title</span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="updateSkillSet()">Update</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
