<div class="page page-profile" ng-controller="accountCtrl">

<!--Employee View-->
    <section class="panel panel-default profile-margin" ng-if="main.user.Role == 4 || 6">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-arrow-left"></span> Request Transfer</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Current Dealership</label>
                            <div class="col-sm-9">
                                <p style="padding-top: 7px;">{{ main.user.Dealership.Name }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Requested Dealership</label>
                            <div class="col-sm-9" ng-controller="dealershipCtrl">
                                <select ng-model="dealershipFields.Dealership" style="width: 100%;">
                                    <option  ng-repeat="dealership in dealerships" class="form-control" value="{{ dealership.Id }}">{{ dealership.Name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary btn-w-md">Submit Request</button>
                            </div>
                        </div>
                    </form>  

                </div>
            </div>
        </div>
    </section> <!--Employee View-->

<!--Super Admin View-->
<div ng-if="main.user.Role == 6">
    <section class="panel panel-default profile-margin">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-arrow-left"></span> Requested Transfers</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Current Dealership</label>
                            <div class="col-sm-3">
                                <p style="padding-top: 7px;">{{ main.user.Dealership.Name }}</p>    <!-- THIS NEEDS TO BE THE EMPLOYEE DEALERSHIP -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Requested Dealership</label>
                            <p style="padding-top: 7px;">{{ dealershipFields.Dealership }}</p>    
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Approve or Deny</label>
                            <p style="padding-top: 7px;"><i class="fa fa-check-circle" style="font-size:2.5em; margin-top:-5px;" ng-click="approve()"></i><i class="fa fa-times-circle" style="font-size:2.5em; margin-top:-5px; margin-left:20px; color:red;" ng-click="deny()"></i></p>  
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div><!--End Super Admin View-->
</div>