<div class="page page-profile" ng-controller="skillSetCtrl">

 <div class="row">
 <div class="col-lg-3 col-xsm-6" ng-repeat="skillset in skillsets">
     <a href="#/pages/skill-set-details/{{ skillset.id }}">
        <div class="panel panel-box" ng-click="goToSkillSet()">
             <div class="panel-top">
                 <span class="ti-star color-success"></span>
           </div>
           <div class="panel-info">
               <span>{{ skillset.name }}</span>
             </div>
              <div class="panel-bottom bg-light">
                 <!--<span>100 <span class="size-h4">%</span></span>-->
                 <span class="ti-cup color-warning"></span>
           </div>
       </div>
     </a>
</div>
</div>

<!--Badges-->
    <div class="row" ng-controller="BadgeCtrl">
       <!-- Stats -->
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box" ng-click="goToSkillSet()">
                <div class="panel-top">
                    <span class="ti-star color-success"></span>
                </div>
                <div class="panel-info">
                    <span data-translate="PHASE 1 DIAGNOSTICS"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <!--<span>100 <span class="size-h4">%</span></span>-->
                    <span class="ti-cup color-warning"></span>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <i class="ti-stats-up color-info"></i>
                </div>
                <div class="panel-info">
                    <span data-translate="PHASE 2 DIAGNOSTICS"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <span>22 <span class="size-h4">%</span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <i class="ti-stats-up color-info"></i>
                </div>
                <div class="panel-info">
                    <span data-translate="PHASE 3 DIAGNOSTICS"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <span>37 <span class="size-h4">%</span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <i class="ti-key" style="color:#7992BF"></i>
                </div>
                <div class="panel-info">
                    <span data-translate="PHASE 4 DIAGNOSTICS"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <!--<span>21 <span class="size-h4">%</span></span>-->
                    <span class="ti-medall" style="color:#7992BF"></span>
                </div>
            </div>
        </div>
        <!-- end stats -->          
    </div>


</div> <!--Close Page Div-->




