<div class="page" ng-controller="QuizCtrl">
    <!--Video-->
    <h3 style="text-transform:uppercase;">{{ quiz.Video.Title }}</h3>
    <p>{{ quiz.Video.Author }}</p>
    <div class="col-md-12">
        <div class="vid">
            <iframe id="vimeo-player" onLoad="vimeoPlayerLoaded()" ng-src="{{videoUrl}}" width="100%" height="469" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <!--TOGGLE COLLAPSE-->
        <div ng-if="quiz" class="panel-body ng-scope" data-ng-controller="CollapseDemoCtrl">
            <!--<h1 ng-if="!quiz">Quiz</h1>-->
            <button ng-disabled="disableQuiz" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">Take Quiz</button>
            <span>Please watch the video then take the quiz</span>
            <div class="divider divider-md"></div>
            <div collapse="isCollapsed" class="collapse" aria-expanded="false" aria-hidden="true" style="height: 0px;">
                <!--A Question Object should be pulled in here with an id that relates to a video-->
                <div ng-repeat="question in questions" ng-if="$index === activeQuestion">
                    <section class="panel panel-default" id="callout-quiz">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-list-alt" style="margin-right: 10px;"></span>Quiz</strong></div>
                        <div class="panel-body">
                            <h4>Question {{ activeQuestion + 1 }} out of {{ questions.length }}</h4>
                            <h4>{{ question.questionText }}</h4>
                            <!--<h4>{{ question }}</h4>-->
                        </div>
                    </section>
                    <div class="callout callout-info" id="callout-quiz">
                        <p>Choose the correct answer below:</p>
                    </div>
                    <!-- Answers -->
                    <div id="repeating-array">
                        <section class="panel panel-default" id="callout-quiz" ng-repeat="answer in question.answers">
                            <div class="panel-body">
                                <button ng-click="setAnswer(answer)" class="btn-icon-lined btn-icon-round" ng-class="{'active':answers[activeQuestion] == answer}"
                                    style="float: left;"><h3 style="margin-top: 1.5px;">{{ letterForIndex($index) }}</h3></button>
                                <p style="margin: 20px 0 0 60px;">{{ answer.answerText }}</p>
                            </div>
                        </section>
                        <button ng-if="!lastQuestion()" type="button" class="btn btn-w-md btn-gap-v btn-primary" ng-click="nextQuestion()">Next Question<span class="ti-arrow-right" style="float: right; margin: 5px 10px;"></span></button>
                        <button ng-if="lastQuestion()" type="button" class="btn btn-w-md btn-gap-v btn-primary" ng-click="finishQuiz()">Finish Quiz<span class="ti-arrow-right" style="float: right; margin: 5px 10px;"></span></button>
                    </div><!-- End of Answers -->
                </div><!-- HIDDEN QUIZ -->
            </div>
        </div>
        <button class="btn btn-primary" ng-if="!quiz && !disableQuiz" ng-click="finishQuiz()">Finish</button>
    </div>

</div><!--End of Page-->